<div class="jumbtron">

        <h1 class="display-4 text-center">Registro cliente</h1>

        <p class="lead">En este modulo gestionaremos el cliente</p>
        
    <hr>

        <div class="row">

                <div class="col-md-5">

                        <app-registrar-empleado></app-registrar-empleado>

                    </div>

                <div class="col-md-7">

                        <app-listar-empleado></app-listar-empleado>

                    </div>|

            </div>

</div>