<table class="table table-hover"> 

         <thead> 
        
         <tr> 
        
         <th scope="col">Nombre</th> 
        
         <th scope="col">Telefono</th> 
        
         <th scope="col">Email</th> 
        
          
        
         </tr> 
        
         </thead> 
        
         <tbody> 
        
          
        
         <tr *ngFor="let empleado of gestionEmpleadoService.listaEmpleado"> 
        
         <td (click)="llenarFormularioEmpleado(empleado)">{{empleado.Nombre}}</td>  
        
         <td (click)="llenarFormularioEmpleado(empleado)">{{empleado.Telefono}}</td> 
        
         <td (click)="llenarFormularioEmpleado(empleado)">{{empleado.Email}}</td>  
        
         <td> 
        
         <i (click)="this.eliminarEmpleado(empleado.IdEmpleado)" class="fa fa-trash fa-lg text-danger"></i> 
        
         </td> 
        
          
        
         </tr> 
        
          
        
         </tbody> 
        
        </table>